#contact_left img {
    height: 105%;
    width: 100%;
}

#contact_left {
    margin-left: auto;
    padding: 15px 0 0 15px;
}

#contact_text {
    background-image: url("../images/news/DY3nGdrXkAAc57B.jpg");
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-otf-webfont.eot');
    src: url('alexbrush-regular-otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('alexbrush-regular-otf-webfont.woff') format('woff'),
         url('alexbrush-regular-otf-webfont.ttf') format('truetype');
}

#contact_right h1 {
    color:#143865;
	font-size: 2.6rem;
    line-height: 1.1em;
    margin-top: 10px;
}

#contact_right p {
    font-size: 1.2rem;
}